<aside class="mt-5 mt-md-0">
    
    <!-- 仕切り線(スマホでのみ表示) -->
    <div class="d-block d-md-none border-top mb-3"></div> 
    
    <!-- コンテスト作成ページなどで紛らわしいためPCでのみ表示 -->
    <div class="d-none d-md-block">
        <%= link_to "コンテストを作成", new_contest_path, class: "mb-3 w-100 text-decoration-none text-white btn btn-main fw-bold w-100" %>
    </div>
    
    <span class="fw-bold">最近のコンテスト</span>
    <ul class="list-unstyled ms-2">
        <% @sidebar_contests.each do |contest| %>
            <li class="list-unstyled mt-1">
               <%= link_to contest.name, contest, class: "text-decoration-none small" %> 
            </li>
        <% end %>
    </ul>
    
    <span class="fw-bold">最近のコメント</span>
    <div class="bg-white border">
        <ul class="list-unstyled m-1">
            <% @sidebar_comments.each do |comment| %>
                <li class="d-flex mb-2">
                    <%= render 'layouts/user_icon', { user: comment.user, size: 30 } %>
                    <span class="small mt-1"><%= link_to comment.content.truncate(27), comment.photo, class: "text-decoration-none" %></span>
                </li>
            <% end %>
        </ul>
    </div>
</aside>