<aside class="mt-3 mt-md-0">
    <div class="btn btn-main mb-3 w-100 fw-bold">コンテストを作成</div>
    <span class="fw-bold">最近のコンテスト</span>
    <ul>
        <li>コンテスト１</li>
        <li>コンテスト２</li>
        <li>コンテスト３</li>
    </ul>
    
    <span class="fw-bold">最近のコメント</span>
    <div class="bg-white border">
        <ul>
            <li>こんにちは</li>
            <li>こんにちは</li>
            <li>こんにちは</li>
            <li>こんにちは</li>
            <li>こんにちは</li>
        </ul>
    </div>
</aside>